@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.card1 {
  background-image: url('/Images/cat.jpg');
  /* Other styles */
}
.card2 {
  background-image: url('/Images/bat.jpg');
  /* Other styles */
}
.card3 {
  background-image: url('/Images/other.jpg');
  /* Other styles */
}
